[Desktop Entry]
Type=Application
Name=TOR Start
Comment=Start TOR anonymization
Exec=sh /usr/share/torctl.d/start.sh
Terminal=false
Icon=browser-tor
Categories=Network;
